.m-index{
    .l-container{
        .m-home{           
            @include flexbox();
            @include flex-direction(column);
            width:100%;
            height:100%;
            >*{
                width:100%;
            }
            .banner{
                @include flex(3);
                width:100%;
                p{
                    width:100%;
                    height:100%;
                    img{
                        width:100%;
                    } 
                }               
            }
            .search{
                @include box-sizing(border-box);
                height:.50rem;
                width:100%;
                background:#e2e2e2;
                ul{
                    @include flexbox();
                    @include box-sizing(border-box);
                    width:100%;
                    height:100%;
                    padding:10px;
                    li:nth-child(1){
                        @include flex(4);
                        height:100%;
                        background:#fff;
                        text-align:center;
                        line-height:.26rem;
                        i{
                            color:#ccc;
                            font-size:12px;
                        }
                    }
                    li:nth-child(2){
                        @include flex(40);
                        height:100%;
                        background:#fff;
                        form{
                            width:100%;
                            height:100%; 
                            input{
                                border:0;
                                width:100%;
                                height:100%;
                                background:#fff;
                                font-size:12px;
                            }   
                        }                                        
                    }
                    li:nth-child(3){
                        @include flex(5);
                        height:100%;
                        background:#fff;
                        text-align:center;
                        line-height:.26rem;                        
                        i{
                            color:#333;
                            font-size:20px;                            
                        }
                    }                  
                }
            }
            nav{
                height:.99rem;                
                background:#e2e2e2;
                @include box-sizing(border-box);
                padding:0 .1rem .1rem;
                ul{
                    width:100%;
                    height:100%;
                    @include flexbox();
                    li:nth-child(1),li:nth-child(3),li:nth-child(5),li:nth-child(7){
                        @include flex(1);
                        @include box-sizing(border-box);
                        padding-top:.1rem;
                        height:100%;
                        background:#fff;
                        text-align:center;
                        img{
                            width:.27rem;
                            height:.34rem;
                        }
                        p{
                            line-height:.38rem;
                            font-weight:bold;
                            font-size:14px;
                        }
                    }
                    li:nth-child(2),li:nth-child(4),li:nth-child(6){
                        width:.1rem;
                        height:100%;
                    }
                }
            }
            section{
               @include flex(7);
               width:100%;
               background:#fff;
               &>ul{
                   width:100%;
                   height:100%;
                   @include box-sizing(border-box);
                   @include flexbox();
                   @include flex-direction(column);
                   padding:0 10px;
                   &>li:nth-child(1),&>li:nth-child(3),&>li:nth-child(4),&>li:nth-child(6){
                       @include flex(1);
                       width:100%;
                       height:100%;
                       margin-top:.1rem;
                       img{
                           width:100%;
                           height:100%;
                       }
                   }
                   &>li:nth-child(2){
                       height:1.58rem;
                       margin-top:10px;
                       width:100%;
                       ul:nth-child(1){
                          padding:0;
                          height:.5rem;
                       }
                       &>ul{
                           @include box-sizing(border-box);
                           width:100%;
                           height:.55rem;
                           padding-top:5px;
                           @include flexbox();
                           li:nth-child(2){
                               width:.07rem;
                               height:100%;
                           }
                           li:nth-child(1),li:nth-child(3){
                               @include flex(1);
                               @include box-sizing(border-box);
                               height:100%;
                               line-height:.48rem;
                               border:1px solid #ccc;
                               background:#e7eaff;
                               img{
                                   width:.45rem;
                                   height:.42rem;
                                   padding-left:2px;
                                   border:none;
                               }
                               b{
                                   font-size:16px;
                                   padding-left:8px;
                               }
                           }
                       }
                   }
                   &>li:nth-child(5){
                       height:1.5rem;
                       width:100%;
                       margin-top:.1rem;
                       &>div{
                           width:100%;
                           height:100%;
                           @include flexbox();
                           .grid{
                              width:1rem;
                              height:100%;
                              margin-right:.1rem;
                              img{
                                  width:100%;
                                  height:1rem;
                              }
                              p{
                                  width:100%;
                                  height:.5rem;
                                  font-size:10px;
                                  background:#ffe7e9;
                              } 
                           }
                       }
                    }
                }
            }
        }        
    } 
}
